/**
	Darren Albertyn 
	Riyaad Cader
*/

body 
{
    padding-top: 50px;
    position: relative;
    background-color: rgb(191, 191, 191);
}
            
.footer
{
	text-align: center;
    background-color: #333;
    width: 100%;
    bottom: 0;
    position: fixed;
}

#letters
{
	margin: 0 auto;
	font-weight:bold;
	border:1px solid black;
	padding:10px;
	max-width:300px;
	background:#eee;
}